<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>This site was created by OYEKAN EMMANUEL. It uses Data from mapbox and ClimaCell.</h3>
        <img class="portrait" src="/img/marybelo.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>