<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>This site was created by {{creator}}. It uses Data from mapbox and ClimaCell.</h3> 
        <h3>My aim through this is to give information on what the weather conditions for the day might be in order to help plan one's day activities effectively.</h3>
        <img class="portrait" src="/img/marybelo.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>