<!DOCTYPE html>

<html>

<head>
    <title>Make Hay</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather details!</p>

        <form action>
            <input placeholder="Location">
            <button>Search</button>

        </form>

        <p id='err'></p>
        <p id='dat'></p>
        <p id='dat1'></p>
        <p id='dat2'></p>
        <p id='dat3'></p>
        <p id='dat4'></p>
        <p id='dat5'></p>
        <p id='dat6'></p>


    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>